.menu {

    background-color: bisque;


    ul{
        list-style-type: none;
    }

    li{
         display: inline;
    }

    a{
        text-decoration: underline;
    }

    a:hover {
        color: #2ecc71;
    }
}