header {
  font-family: $tipografia;
  background-color: $color-principal;
  color: $color-auxiliar;
  padding: 0 40px;
  height: 100px;

  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 40px;

  .marca {
    display: flex;
    align-items: center;
    gap: 15px;

    h1 {
      font-size: $H1;
      color: $color-auxiliar;
    }

    img {
      display: block;
      width: 70px;
      height: 70px;
      border-radius: 20%;
    }
  }

  nav {
    display: flex;
    justify-content: end;
    
    ul {
      list-style: none;
      display: flex;
      gap: 30px;

      li a {
        color: $color-auxiliar;
        text-decoration: none;
        font-size: $H3;
        font-weight: 500 px;

        &:hover {
          color: lighten($color-secundario, 10%);
        }
      }
    }
  }
}


// Media query para pantallas pequeñas
@media (max-width: 768px) {
  header {
    grid-template-columns: 1fr;
    height: auto;
    padding: 20px;
    justify-items: center; 
    gap: 20px;

    nav {
        justify-content: center;
    }
  }
}