body{
    text-align:center;
}

table{
    width:70%;
    margin:auto;
    border: 3px solid midnightblue;
}

table, th, td{
    caption-side: bottom;
    border-collapse:separate;
    border-spacing: 15px;
    table-layout: fixed;
    empty-cells: hide;
}

td, th {
    padding:10px;
    border: 1px solid midnightblue;
}

th {
    background-color: rgb(93, 93, 189);
}

.par {
    background-color:rgb(173, 173, 229)
}

.impar {
    background-color: rgb(133, 133, 209);
}