footer {
  font-family: $tipografia;
  background-color: $color-auxiliar;
  color: $color-principal;
  padding: 40px 20px;

  display: flex;
  flex-direction: column;
  gap: 30px;
  

  .footer-top {
    border-top: 1px solid $color-secundario;
    display: flex;
    justify-content: center; // centra las columnas dentro del footer
    gap: 60px; // separación entre columnas

    > div {
      text-align: center; // centra el contenido dentro de cada columna
      flex: 1;

      h4 {
        font-size: $parrafo;
        margin-bottom: 10px;
        font-weight: bold;
      }

      p,
      li,
      a {
        color: $color-principal;
        font-size: $parrafo;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 6px;

          a {
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .footer-bot {
    text-align: center;
    font-size: $parrafo;
  }


}
