.header {
  background-color: midnightblue;
  color: white;
  padding: 10px;
}

.menu {
  background-color: bisque;
}
.menu ul {
  list-style-type: none;
}
.menu li {
  display: inline;
}
.menu a {
  text-decoration: underline;
}
.menu a:hover {
  color: #2ecc71;
}

.content {
  background-color: aquamarine;
}
.content h2 {
  text-transform: uppercase;
}
.content p {
  text-transform: capitalize;
}