.layout {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
        gap: 20px;
}

.header{
    grid-area: header;
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

.sidebar {
    grid-area: sidebar;
    text-align: center;
    background-color: lightblue;
    padding: 20px;
}

.main {
    grid-area: main;
    text-align: center;
    background-color: lightcoral;
    padding: 20px;
}

.footer {
    grid-area: footer;
    text-align: center;
    background-color: lightgreen;
    padding: 20px;
}