body {
    margin:auto;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size:16px;
    color:grey
}

img {
    border: 2px solid black;
    border-radius: 30%;
    display:block;
    margin: auto;
}
