/* Layout general con grid */
.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    gap: 10px;

}

/* Header usando flexbox */
header {
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color:white;

    ul {
        display: flex;
        gap: 20px;
        list-style: none;

        li a {
            color:white;
            text-decoration: none;
        }
    }
}


/* Main usando flexbox */
main {
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
    background-color:beige;

    div {
        background-color: lightyellow;
        padding: 30px;
        border-radius: 8px;
    }
}

/* Footer usando flexbox */
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: lightblue;
}