h1, .parrafo1{
    font-family: serif;
}

.parrafo2 {
    font-weight:bold;
    text-transform: capitalize;
    letter-spacing: 2px;
    
}

.parrafo3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 2em;
}

body {
    font-size: 18;
}
