.sec1 {
    padding:20px;
    background-color: green;
}

.sec2{
    padding: 10px 15px 20px 25px;
    background-color: yellow;
}

.sec3 button{
    padding: 30px 50px;
    border-radius:15px;
    background-color:red;
    border: none;
}
