.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.menu a {
    margin: 10px;
    padding: 10px;
    text-align: center;  
    font-size: 30px;
    
}