.boton-primario {
  background-color: #3498db;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.boton-secundario {
  background-color: #2ecc71;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.boton-alerta {
  background-color: #e74c3c;
  color: white;
  padding: 15px;
  border-radius: 5px;
}