//Mixin para estilos base de botón
 @mixin boton-base($padding) { 
    background-color: $color-boton; 
    color: $color-auxiliar; 
    border: none; 
    padding: $padding; 
    border-radius: 8px; 
    cursor: pointer; 
    font-family: $tipografia; 
    
    &:hover { 
        background-color: darken($color-boton, 8%); 
    } 
} 

// Estilo para el botón de "Eliminar"  
.btn-eliminar { 
    @include boton-base(6px 12px); 
} 

// Estilo para el botón de Pagar  
.btnPago { 
    max-width: 70%; 
    margin: 20px auto; 
    display: flex; 
    justify-content: end; 
    button { 
        width: 100px; 
        @include boton-base(10px 12px); 
        
        @media (max-width: 768px) { 
            width: 100%; 
        } 
    } 
}