@media all {
    p {
        font-style: italic;
        font-size: bold;
        font-size: 18px;
    }

    p img {
        text-align:left;
        float:left;
    }

    a {
        text-align:center;
    }

    img {
        width: 400px;
        height: 300px;
    }
}

@media screen{
    img {
        display: block;
        margin: auto;
    }
}